body{
  background-image:linear-gradient(to left top , rgba(30,45,80,1) , rgba(27,55,70,1));
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: calibri;
  color:#fff;
  box-sizing: border-box;
  overflow-x:hidden;
}
*{  }
#container{
  margin: 0 ;
  width: auto;
  height: auto;
  padding:0 ;
  box-shadow: 0 0 6px snow;
  /* box-shadow:inset 0 0 0 1px rgba(240,0,0,.5); */
}
#banner{
  height: 100vh;
  background:url("/img/house.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: .6s;

}

.top-bar{display: flex;border-bottom:1px solid rgba(255,255,255,.1); }
.top-bar-fixed{
  align-items: center;
  background: #030e11;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.left-bar,.right-bar{
  height: 100px;

}
.left-bar{width: 30%;align-items: center;justify-content: center;border-right:1px solid rgba(255,255,255,.1);}
.right-bar{
  width: 70%;

}
/* centering content in bars logo + menu navbars*/
.left-bar,.right-bar{
  display: flex;

}

/* .left-bar{  background:rgba(255,2,2,.2);}
.right-bar{  background:rgba(2,2,255,.2);} */
/* logo:  */
#logo{
font-size: 2rem;
text-shadow: 0 1px 5px black;
font-weight: 100;
letter-spacing: .5rem;
animation: anim 4s infinite;
}
/* animation */
@keyframes  anim {
0%{opacity:1;text-shadow:0 0 5px white;}
50%{opacity: .5}
100%{opacity: 1;text-shadow:0 0 5px gold;}


}
/* Menu  */
#navbar{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

 }
#navbar ul {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}
#navbar ul li{
  transition: .1s;
  padding: 0 .4rem;
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#navbar ul li a{
  transition: .4s;
  font-weight: 100;
  text-decoration: none;
  color:rgba(255,255,255,.6);
  padding:.3rem .7rem;
  border-bottom: 1px solid transparent;
}
/* hovers menu  */
#navbar ul li:hover{
  background: rgba(55,55,55,.10);
  border-bottom: 1px solid white;
}
#navbar ul li:hover{
  transform: translateY(4px);
}
#navbar ul li:hover a {
  color:rgba(255,255,255,1);
}
#navbar ul li:active{
transform: translateY(2px);
}
#navbar ul li{
  font-size:1.3rem;
}
/* main text */
.sentence{
  transition: .3s;
  backface-visibility: hidden;
  font-size: 1.3rem;
  color:rgba(255,255,255,.85);
  letter-spacing: 4px;
  position: absolute;
  top:35%;
  left:50%;
  text-align: center;
  transform: translate(-50%,-50%);
  animation:coming 2s ;
  text-shadow: 0 0 3px black;
}
.sentence h1:first-child{
  letter-spacing: .76rem;
  margin-bottom: 0;
}
.sentence h1{
  margin:0;
}
.sentence h3{
  margin:0;
  word-spacing: .5rem;
  letter-spacing: .4rem;
}
/* ------------------------------------------------------------------------- */
@keyframes coming {
  0%{opacity:.0;transform: translate(-10rem,-50rem);}

}
